<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />   <!-- return 값을 CamelCase로 변환시킴 -->
        <setting name="callSettersOnNulls" value="true"/>		   <!-- Null을 포함시켜 return  -->
    </settings>
</configuration>